h1 {
    text-align: center;
    font-family: "Comic Sans MS";
}

div {
    display: inline-block;
    border: 2px outset black;
    text-align: center;
    width: 270px;
    height: 80px;
    margin-left: 8%;
    box-shadow: 2px 2px;
}

.yellowbackground { background-color: yellow; }

.bluebackground { background-color: blue; }

.greenbackground { background-color: green; }