h1 { text-align: center; }

div {
    display: inline-block;
    border: 2px outset black;
    text-align: center;
    width: 270px;
    height: 100px;
    margin-left: 8%;
}

.yellowbackground { background-color: yellow; }

.bluebackground { background-color: blue; }

.greenbackground { background-color: green; }